workflows/mcp-integration-demo.json
{
  "name": "MCP Integration Demo",
  "nodes": [
    {
      "parameters": {
        "path": "mcp-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "mcp-demo-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_SERVER_URL }}/api/context",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.MCP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.query }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mcp-context-request",
      "name": "MCP Context Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.context_items }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "context-check",
      "name": "Context Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.MCP_SERVER_URL }}/api/execute",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.MCP_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "process_context"
            },
            {
              "name": "parameters",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mcp-execute-action",
      "name": "MCP Execute Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"context\": $json.context_items, \"action_result\": $json.result, \"timestamp\": $now } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"No context found\", \"timestamp\": $now } }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "MCP Context Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Context Request": {
      "main": [
        [
          {
            "node": "Context Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Check": {
      "main": [
        [
          {
            "node": "MCP Execute Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Execute Action": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "mcp-integration-demo",
  "meta": {
    "instanceId": "demo"
  },
  "tags": []
}
